spring:
  application:
    name: ${DB_NAME}

  datasource:
    url: ${DB_HOST}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: ${DB_DDL}
    show-sql: true
    properties:
      hibernate:
        format_sql: true