name: Node.js CI

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["**"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install deps
        run: npm ci

      - name: Lint
        run: npm run lint --if-present

      - name: Build
        run: npm run build --if-present

      - name: GIF_SERVER CI Discord Notification (success)
        if: ${{ success() }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD }}
          title: "✅ GIF_SERVER CI Success! ✅"
          status: ${{ job.status }}
          description: "성공하였습니다"
          color: 65280
          url: "https://github.com/sarisia/actions-status-discord"
          username: "GIF_SERVER-bot"

      - name: GIF_SERVER CI Discord Notification (failure)
        if: ${{ failure() }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD }}
          title: "❗️ GIF_SERVER CI Fail! ❗️"
          status: ${{ job.status }}
          description: "실패하였습니다"
          color: 16711680
          url: "https://github.com/sarisia/actions-status-discord"
          username: "GIF_SERVER-bot"
